.imagemPost{
	height: 400px;
	width: 780px;
}

.styleLabel{
	padding-bottom: 15px;
}

.card-add{
	background-color: #3e0c44 !important;
	color: #fff !important;
}

.card-button{
	display: block !important;
	color: #fff;
  	background-color: #ED6B00;
	border-color: #ED6B00;
}

.sideMenu{
	background-color: #3e0c44 !important;
	color: white;
	text-align: center;
}

.customLink{
	list-style: none;
}

.obrigado {
    background-color: #3E0C44;
    color: #fff;
}