.imagemPost{
	height: 400px;
	width: 780px;
}

.styleLabel{
	padding-bottom: 15px;
}

.card-add{
	background-color: #3e0c44 !important;
	color: #fff !important;
}

.card-button{
	color: #fff;
  	background-color: #d279d2;
  	border-color: #d279d2;
}

.sideMenu{
	background-color: #3e0c44 !important;
	color: white;
}