.imagemPost{
	height: 400px;
	width: 780px;
}

.styleLabel{
	padding-bottom: 15px;
}

.card-add{
	background-color: #3e0c44 !important;
	color: #fff !important;
}

.card-button{
	display: block !important;
	color: #fff;
  	background-color: #ED6B00;
	border-color: #ED6B00;
}

.sideMenu{
	background-color: #3e0c44 !important;
	color: white;
	text-align: center;
}

.customLink{
	list-style: none;
}
.semmargem{
	margin-right: 0px !important;
	margin-left: 0px !important;
}
.obrigado {
	background-color: #3E0C44;
	margin-top: -20px;
	color: #fff;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.msgfooter{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

@media screen and (max-width: 940px) {
	.imagemPost {
    	height: 100% !important;
    	width: 100% !important;
	}
}